<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vuejs简单示例</title>
    <script src="./vue.js"></script>
</head>
<body>
<div id="demo">
    <p>First Group</p>
    <p>预期显示“你能看到我！”</p>
    <span v-if="show">你能看到我！</span>
    <span v-else>你能看到我吗！</span>
    <br>
    <p>Second Group</p>
    <p>预期显示“你能看到我吗！”</p>
    <span v-if="hide">你能看到我！</span>
    <span v-else>你能看到我吗！</span>
    <br>
    <p>Third Group</p>
    <p>预期显示“你真的能看到我！”</p>
    <span v-if="hide">你能看到我！</span>
    <span v-else-if="hide">你能看到我吗！</span>
    <span v-else>你真的能看到我吗！</span>
</div>

<script>
    new Vue({
        el: "#demo",
        data:{
            show:true,
            hide:false
        }
    })
</script>
</body>
</html>