<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vuejs简单示例</title>
    <script src="./vue.js"></script>
</head>
<body>
<div id="demo">
    <h1>{{msg}}</h1>
    <form @submit.prevent="additem(newitem)">
        <div v-for="(item,index) in items">
            <label>{{item.text}} <button v-on:click="deleteitem(index)">删除</button></label>
        </div>
        <div>
            <input type=text v-model="newitem.text">
        </div>
        <div>
            <button>添加</button>
        </div>
    </form>
</div>

<script>
    new Vue({
        <!--el指定的id为css选择器-->
        el: "#demo",
        data:{
            msg:"使用Vue的例子",
            items:[
                {text:'hello myhome'}
            ],
            newitem: {text:''}
        },
        methods:{
            additem:function (newitem) {
                this.items.push(newitem);
                this.newitem={text:''}
            },
            deleteitem:function (index) {
                this.items.splice(index,1)
            }
        }
    })
</script>
</body>
</html>